In [1]:
from FileOpener.CSVReader.CSVReader import CSVReader

## EPS Loading

In [4]:
eps_dir = "CSVFile/FinancialData/Korea"
eps_file = "EPS_KSE.csv"

eps_kse = CSVReader.financial_reader(filename=eps_file, directory=eps_dir)

In [7]:
eps_kse.head()

,A000010,A000020,A000030,A000040,A000050,A000060,A000070,A000080,A000090,A000100,...,A298050,A298690,A300720,A306200,A900030,A900050,A900140,A950010,A950070,A950100
Code,,,,,,,,,,,,,,,,,,,,,
2000-12-31,149.0,147.0,-3445.0,-83946.0,106.0,-199.0,2483.0,2105884.0,NaN,2922.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2001-12-31,769.0,248.0,1290.0,-31812.0,-14.0,440.0,640.0,-2950982.0,NaN,3454.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2002-12-31,-863.0,311.0,1410.0,98503.0,145.0,343.0,2970.0,-3875275.0,NaN,3789.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2003-12-31,-1421.0,213.0,2377.0,565.0,7.0,202.0,3665.0,-23280086.0,NaN,4412.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2004-12-31,369.0,266.0,3221.0,-365.0,-345.0,213.0,5095.0,474316.0,NaN,4317.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.0,NaN,NaN

## Price Loading

In [17]:
prc_dir = "CSVFile/Price/Korea/Stocks"
prc_file = "KOSPI_FROM_1998_close.csv"

prc_kse = CSVReader.price_reader(filename=prc_file, directory=prc_dir).loc['2002-01-01':'2018-12-31']

In [18]:
prc_kse.head()

,A000010,A000020,A000030,A000040,A000050,A000060,A000070,A000080,A000090,A000100,...,A298050,A298690,A300720,A306200,A900030,A900050,A900140,A950010,A950070,A950100
D A T E,,,,,,,,,,,,,,,,,,,,,
2002-01-02,4485.0,1862,865.0,6893,1608,1099,17140,3270.0,NaN,35665,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2002-01-03,4540.0,1838,865.0,6893,1601,1107,18187,3270.0,NaN,35838,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2002-01-04,5030.0,1814,865.0,6893,1637,1165,18021,3260.0,NaN,35549,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2002-01-07,5700.0,1800,865.0,6893,1604,1308,18407,3745.0,NaN,35260,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2002-01-08,5420.0,1830,865.0,6893,1687,1324,18076,3520.0,NaN,35087,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## PER 만들기

#### 1월부터 3월까지 전전년 EPS를 사용
    ## 2002-01-01 ~ 2002-03-31 => 2000 EPS를 사용
#### 3월부터 12월간 전년 EPS를 사용
    ## 2002-04-01 ~ 2002-12-31 => 2001 EPS를 사용

In [36]:
import pandas as pd

dt = pd.DataFrame()

for year in range(2002, 2019):

    dt = pd.concat([dt, prc_kse[f"{year}-01-01":f"{year}-03-31"].div(eps_kse.loc[f"{year-2}-12-31"])])
    dt = pd.concat([dt, prc_kse[f"{year}-04-01":f"{year}-12-31"].div(eps_kse.loc[f"{year-1}-12-31"])])

In [37]:
import numpy as np

dt[dt < 0] = np.nan

In [38]:
dt.tail()

,A000010,A000020,A000030,A000040,A000050,A000060,A000070,A000080,A000090,A000100,...,A298050,A298690,A300720,A306200,A900030,A900050,A900140,A950010,A950070,A950100
D A T E,,,,,,,,,,,,,,,,,,,,,
2018-12-21,NaN,5.365419,7.291206,NaN,11.863489,6.282272,10.718057,100.558659,NaN,24.930920,...,NaN,NaN,NaN,NaN,NaN,NaN,9.124060,NaN,NaN,NaN
2018-12-24,NaN,5.246583,7.224923,NaN,12.026002,6.224900,10.612460,99.162011,NaN,24.987656,...,NaN,NaN,NaN,NaN,NaN,NaN,9.018797,NaN,NaN,NaN
2018-12-26,NaN,5.187166,7.136544,NaN,11.755146,6.296615,10.427666,98.044693,NaN,25.044510,...,NaN,NaN,NaN,NaN,NaN,NaN,8.984962,NaN,NaN,NaN
2018-12-27,NaN,5.371361,6.937693,NaN,11.809317,6.181870,10.242872,94.692737,NaN,24.391691,...,NaN,9.173989,NaN,NaN,NaN,NaN,8.571429,NaN,NaN,NaN
2018-12-28,NaN,5.407011,6.893504,NaN,11.700975,6.267929,10.361668,92.737430,NaN,24.272997,...,NaN,10.702988,NaN,NaN,NaN,NaN,8.759398,NaN,NaN,NaN

In [42]:
def year_factor(price, pershare, st_year=2002, ed_year=2019, non_zero=True):

    dt = pd.DataFrame()

    for year in range(st_year, ed_year):

        dt = pd.concat([dt, price.loc[f"{year}-01-01":f"{year}-03-31"].div(pershare.loc[f"{year-2}-12-31"])])
        dt = pd.concat([dt, price.loc[f"{year}-04-01":f"{year}-12-31"].div(pershare.loc[f"{year-1}-12-31"])])

    if non_zero == True:

        dt[dt < 0] = np.nan

        return dt

    elif non_zero == False:

        return dt

In [43]:
year_factor(prc_kse,eps_kse)

,A000010,A000020,A000030,A000040,A000050,A000060,A000070,A000080,A000090,A000100,...,A298050,A298690,A300720,A306200,A900030,A900050,A900140,A950010,A950070,A950100
D A T E,,,,,,,,,,,,,,,,,,,,,
2002-01-02,30.100671,12.666667,NaN,NaN,15.169811,NaN,6.902940,0.001553,NaN,12.205681,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2002-01-03,30.469799,12.503401,NaN,NaN,15.103774,NaN,7.324607,0.001553,NaN,12.264887,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2002-01-04,33.758389,12.340136,NaN,NaN,15.443396,NaN,7.257753,0.001548,NaN,12.165982,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2002-01-07,38.255034,12.244898,NaN,NaN,15.132075,NaN,7.413210,0.001778,NaN,12.067077,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2002-01-08,36.375839,12.448980,NaN,NaN,15.915094,NaN,7.279903,0.001672,NaN,12.007871,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2002-01-09,41.275168,12.244898,NaN,NaN,16.047170,NaN,7.102296,0.001733,NaN,12.067077,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2002-01-10,40.268456,12.149660,NaN,NaN,15.981132,NaN,7.013693,0.001714,NaN,11.889117,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2002-01-11,37.583893,13.142857,NaN,NaN,15.641509,NaN,7.635119,0.001667,NaN,11.829911,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2002-01-14,37.986577,12.789116,NaN,NaN,16.320755,NaN,7.568667,0.001615,NaN,11.829911,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2002-01-15,36.778523,12.489796,NaN,NaN,16.801887,NaN,7.413210,0.001567,NaN,11.473648,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2002-01-16,35.838926,12.190476,NaN,NaN,16.660377,NaN,7.635119,0.001591,NaN,11.810062,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2002-01-17,36.912752,11.972789,NaN,NaN,16.660377,NaN,7.635119,0.001558,NaN,11.790212,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2002-01-18,36.510067,12.108844,NaN,NaN,16.462264,NaN,7.635119,0.001572,NaN,11.988022,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2002-01-21,37.449664,12.353741,NaN,NaN,17.339623,NaN,7.546516,0.001567,NaN,12.086927,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2002-01-22,37.986577,12.340136,NaN,NaN,17.000000,NaN,8.123641,0.001567,NaN,12.264887,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2002-01-23,38.523490,12.653061,NaN,NaN,17.000000,NaN,8.123641,0.001553,NaN,12.601300,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2002-01-24,38.926174,12.557823,NaN,NaN,17.141509,NaN,8.256545,0.001591,NaN,13.194730,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2002-01-25,40.000000,12.802721,NaN,NaN,17.952830,NaN,9.055578,0.001629,NaN,13.313484,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2002-01-28,39.865772,13.129252,NaN,NaN,18.226415,NaN,9.099879,0.001629,NaN,13.432238,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2002-01-29,39.127517,12.857143,NaN,NaN,18.160377,NaN,9.233186,0.001629,NaN,13.155031,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2002-01-30,37.986577,12.326531,NaN,NaN,19.622642,NaN,8.722916,0.001605,NaN,12.858316,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2002-01-31,37.248322,13.074830,NaN,NaN,19.726415,NaN,9.055578,0.001648,NaN,12.660507,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2002-02-01,36.442953,13.061224,NaN,NaN,19.283019,NaN,8.611760,0.001653,NaN,12.561602,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2002-02-04,34.295302,12.925170,NaN,NaN,17.924528,NaN,8.833669,0.001619,NaN,12.462697,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2002-02-05,34.899329,13.346939,NaN,NaN,16.735849,NaN,9.255336,0.001634,NaN,12.462697,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2002-02-06,34.630872,13.469388,NaN,NaN,16.971698,NaN,9.477245,0.001705,NaN,12.680356,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2002-02-07,35.234899,12.802721,NaN,NaN,16.320755,NaN,9.766009,0.001624,NaN,12.660507,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2002-02-08,38.657718,12.829932,NaN,NaN,17.075472,NaN,9.521949,0.001638,NaN,12.640999,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2002-02-14,40.604027,13.156463,NaN,NaN,17.103774,NaN,9.610552,0.001643,NaN,12.640999,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2002-02-15,38.657718,12.993197,NaN,NaN,16.867925,NaN,9.544100,0.001619,NaN,12.581451,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018-11-16,NaN,5.704100,7.026072,NaN,12.242687,6.110155,10.559662,94.972067,NaN,27.259347,...,NaN,NaN,NaN,NaN,NaN,NaN,8.984962,NaN,NaN,NaN
2018-11-19,NaN,5.739750,7.003977,NaN,12.621885,5.952381,10.691658,94.972067,NaN,28.906231,...,NaN,NaN,NaN,NaN,NaN,NaN,8.898496,NaN,NaN,NaN
2018-11-20,NaN,5.644682,7.070261,NaN,12.405200,6.224900,10.955649,95.530726,NaN,28.395134,...,NaN,NaN,NaN,NaN,NaN,NaN,9.161654,NaN,NaN,NaN
2018-11-21,NaN,5.632799,7.070261,NaN,12.405200,6.310958,11.391235,96.648045,NaN,27.713591,...,NaN,NaN,NaN,NaN,NaN,NaN,8.898496,NaN,NaN,NaN
2018-11-22,NaN,5.698158,7.070261,NaN,12.405200,6.483075,11.734424,98.324022,NaN,27.088902,...,NaN,NaN,NaN,NaN,NaN,NaN,8.492481,NaN,NaN,NaN
2018-11-23,NaN,5.632799,7.092355,NaN,11.971831,6.310958,11.721225,98.044693,NaN,26.804985,...,NaN,NaN,NaN,NaN,NaN,NaN,8.296992,NaN,NaN,NaN
2018-11-26,NaN,5.585264,6.981882,NaN,12.134345,6.339644,11.747624,98.882682,NaN,26.804985,...,NaN,NaN,NaN,NaN,NaN,NaN,8.563910,NaN,NaN,NaN
2018-11-27,NaN,5.603090,7.026072,NaN,12.134345,6.282272,11.721225,97.765363,NaN,26.804985,...,NaN,NaN,NaN,NaN,NaN,NaN,8.563910,NaN,NaN,NaN
2018-11-28,NaN,5.537730,6.937693,NaN,12.080173,6.253586,11.734424,97.486034,NaN,26.577804,...,NaN,NaN,NaN,NaN,NaN,NaN,8.492481,NaN,NaN,NaN
2018-11-29,NaN,5.561497,6.981882,NaN,12.080173,6.210557,11.470433,98.044693,NaN,26.237151,...,NaN,NaN,NaN,NaN,NaN,NaN,8.984962,NaN,NaN,NaN
2018-11-30,NaN,5.412953,6.915599,NaN,12.188516,6.081469,11.549630,97.765363,NaN,25.839525,...,NaN,NaN,NaN,NaN,NaN,NaN,8.755639,NaN,NaN,NaN
2018-12-03,NaN,5.567439,6.937693,NaN,12.188516,6.081469,11.523231,98.603352,NaN,26.009970,...,NaN,NaN,NaN,NaN,NaN,NaN,8.984962,NaN,NaN,NaN
2018-12-04,NaN,5.585264,7.003977,NaN,12.026002,6.081469,11.523231,99.162011,NaN,26.691395,...,NaN,NaN,NaN,NaN,NaN,NaN,8.808271,NaN,NaN,NaN
2018-12-05,NaN,5.597148,7.003977,NaN,12.026002,6.353987,11.457233,99.720670,NaN,26.123561,...,NaN,NaN,NaN,NaN,NaN,NaN,8.281955,NaN,NaN,NaN
2018-12-06,NaN,5.603090,6.937693,NaN,11.809317,6.253586,11.219641,96.927374,NaN,24.647003,...,NaN,NaN,NaN,NaN,NaN,NaN,8.105263,NaN,NaN,NaN
2018-12-07,NaN,5.757576,6.915599,NaN,11.863489,6.181870,11.193242,98.603352,NaN,24.590148,...,NaN,NaN,NaN,NaN,NaN,NaN,8.210526,NaN,NaN,NaN
2018-12-10,NaN,5.739750,6.893504,NaN,11.484290,6.181870,10.902851,98.324022,NaN,24.590148,...,NaN,NaN,NaN,NaN,NaN,NaN,8.120301,NaN,NaN,NaN
2018-12-11,NaN,5.537730,6.915599,NaN,11.267606,6.167527,10.995248,98.324022,NaN,24.192641,...,NaN,NaN,NaN,NaN,NaN,NaN,8.105263,NaN,NaN,NaN
2018-12-12,NaN,5.686275,6.871410,NaN,11.375948,6.196213,11.087645,99.441341,NaN,24.306231,...,NaN,NaN,NaN,NaN,NaN,NaN,8.387218,NaN,NaN,NaN
2018-12-13,NaN,5.704100,6.893504,NaN,11.375948,6.167527,11.008448,100.000000,NaN,24.419822,...,NaN,NaN,NaN,NaN,NaN,NaN,8.616541,NaN,NaN,NaN
2018-12-14,NaN,5.603090,6.937693,NaN,11.484290,6.253586,11.193242,100.837989,NaN,24.022315,...,NaN,NaN,NaN,NaN,NaN,NaN,8.578947,NaN,NaN,NaN
2018-12-17,NaN,5.644682,7.026072,NaN,11.375948,6.095812,11.298838,100.558659,NaN,24.079050,...,NaN,NaN,NaN,NaN,NaN,NaN,8.421053,NaN,NaN,NaN
2018-12-18,NaN,5.555556,7.158639,NaN,11.321777,5.952381,11.127244,101.396648,NaN,24.362967,...,NaN,NaN,NaN,NaN,NaN,NaN,8.507519,NaN,NaN,NaN
2018-12-19,NaN,5.454545,7.158639,NaN,12.351029,6.052783,11.074446,100.279330,NaN,24.647003,...,NaN,NaN,NaN,NaN,NaN,NaN,8.789474,NaN,NaN,NaN
2018-12-20,NaN,5.317885,7.180734,NaN,11.917660,6.253586,10.929250,101.675978,NaN,24.533412,...,NaN,NaN,NaN,NaN,NaN,NaN,9.018797,NaN,NaN,NaN
2018-12-21,NaN,5.365419,7.291206,NaN,11.863489,6.282272,10.718057,100.558659,NaN,24.930920,...,NaN,NaN,NaN,NaN,NaN,NaN,9.124060,NaN,NaN,NaN
2018-12-24,NaN,5.246583,7.224923,NaN,12.026002,6.224900,10.612460,99.162011,NaN,24.987656,...,NaN,NaN,NaN,NaN,NaN,NaN,9.018797,NaN,NaN,NaN
2018-12-26,NaN,5.187166,7.136544,NaN,11.755146,6.296615,10.427666,98.044693,NaN,25.044510,...,NaN,NaN,NaN,NaN,NaN,NaN,8.984962,NaN,NaN,NaN
2018-12-27,NaN,5.371361,6.937693,NaN,11.809317,6.181870,10.242872,94.692737,NaN,24.391691,...,NaN,9.173989,NaN,NaN,NaN,NaN,8.571429,NaN,NaN,NaN
2018-12-28,NaN,5.407011,6.893504,NaN,11.700975,6.267929,10.361668,92.737430,NaN,24.272997,...,NaN,10.702988,NaN,NaN,NaN,NaN,8.759398,NaN,NaN,NaN