In [1]:
import numpy as np
import pandas as pd

In [6]:
a = pd.Series((np.random.randn(10) / 6))

In [10]:
a.shape[0]

10

In [15]:
geo_mean_rt = np.power((a.sub(-1).prod()), 1/10) - 1 
mean_rt = a.mean()
median = a.median()

In [18]:
pd.Series(index=['기하수익률', '평균수익률', '중간수익률'], data = [geo_mean_rt, mean_rt, median]).map('{:,.2%}'.format)

기하수익률    1.92%
평균수익률    2.56%
중간수익률    3.81%
dtype: object

In [22]:
pd.DataFrame(index=['1 Year', '3 Year', '5 year']
             , columns=['Min', 'Max'], data=[[1,2], [3,4], [5,6]]).applymap('{:,.2%}'.format)

            Min      Max
1 Year  100.00%  200.00%
3 Year  300.00%  400.00%
5 year  500.00%  600.00%