In [103]:
import pandas as pd
import re

KOSDQ / KSE Data 추출

In [105]:
KDQ = pd.read_csv('Data/Delisted/KDQ.csv')
KSE = pd.read_csv('Data/Delisted/KDQ.csv')

In [106]:
KDQ.head()

      Code  Name   결산월       상장폐지일                   상장폐지사유
0  A000380  대아건설  12.0  20041021.0          피흡수합병(20040922)
1  A000870  전진산업  12.0  19990115.0  (주)아벤티스크롭사이언스코리아에 피흡수합병
2  A001850  임광토건  12.0  20000607.0                 주식분산기준미달
3  A001990  자유건설  12.0  19991030.0               주식분산기준  미달
4  A002480   범양사  12.0  20050504.0          주식분산기준 미달 2년 연속

In [107]:
KSE.head()

      Code  Name   결산월       상장폐지일                   상장폐지사유
0  A000380  대아건설  12.0  20041021.0          피흡수합병(20040922)
1  A000870  전진산업  12.0  19990115.0  (주)아벤티스크롭사이언스코리아에 피흡수합병
2  A001850  임광토건  12.0  20000607.0                 주식분산기준미달
3  A001990  자유건설  12.0  19991030.0               주식분산기준  미달
4  A002480   범양사  12.0  20050504.0          주식분산기준 미달 2년 연속

## 해당 과제

1. 결산월 / 상장폐지일

   if 상장폐지일 없으면 탈락
   형식을 각각 Int와 Date로 바꿀 것
   
2. 상장폐지사유
   합병 등 거래소 변경 / 레알 상장폐지로 구분
   Dictionary {"특수": 종목, "레알": 종목}
   
   구분할 것

In [110]:
## 1번

KDQ['상장폐지일'] = pd.to_datetime(KDQ['상장폐지일'].astype(int).astype(str))
KSE['상장폐지일'] = pd.to_datetime(KSE['상장폐지일'].astype(int).astype(str))

In [121]:
## 2번
KDQ['상장폐지사유'].str.contains('합병')

0       True
1       True
2      False
3      False
4      False
5      False
6      False
7      False
8      False
9      False
10     False
11     False
12     False
13     False
14     False
15      True
16     False
17     False
18     False
19     False
20     False
21     False
22     False
23     False
24     False
25     False
26      True
27     False
28     False
29     False
       ...
500    False
501    False
502    False
503    False
504    False
505     True
506    False
507     True
508    False
509    False
510    False
511    False
512    False
513    False
514    False
515    False
516    False
517    False
518    False
519     True
520    False
521     True
522    False
523    False
524    False
525    False
526    False
527    False
528    False
529    False
Name: 상장폐지사유, Length: 530, dtype: bool