In [3]:
import dataCleanser as dtc

{'brk_price':                 코스피  코스피 200      코스닥  코스닥 대형주
D A T E
1999-12-28      NaN      NaN      NaN      NaN
2000-01-04      NaN      NaN      NaN      NaN
2000-01-05      NaN      NaN      NaN      NaN
2000-01-06      NaN      NaN      NaN      NaN
2000-01-07      NaN      NaN      NaN      NaN
2000-01-10      NaN      NaN      NaN      NaN
2000-01-11      NaN      NaN      NaN      NaN
2000-01-12      NaN      NaN      NaN      NaN
2000-01-13      NaN      NaN      NaN      NaN
2000-01-14      NaN      NaN      NaN      NaN
2000-01-17      NaN      NaN      NaN      NaN
2000-01-18      NaN      NaN      NaN      NaN
2000-01-19      NaN      NaN      NaN      NaN
2000-01-20      NaN      NaN      NaN      NaN
2000-01-21      NaN      NaN      NaN      NaN
2000-01-24      NaN      NaN      NaN      NaN
2000-01-25      NaN      NaN      NaN      NaN
2000-01-26      NaN      NaN      NaN      NaN
2000-01-27      NaN      NaN      NaN      NaN
2000-01-28  1059.04   133.66  2670.50      NaN
2000-01-31  1059.04   133.66  2670.50      NaN
2000-02-01  1013.95   124.11  2670.50      NaN
2000-02-02  1013.95   124.11  2670.50      NaN
2000-02-03   992.31   124.11  2423.90      NaN
2000-02-07   992.31   124.11  2423.90      NaN
2000-02-08   992.31   123.85  2481.10      NaN
2000-02-09   992.31   123.85  2481.10      NaN
2000-02-10   992.31   123.85  2481.10      NaN
2000-02-11   992.31   123.85  2620.80      NaN
2000-02-14   992.31   123.85  2686.10      NaN
...             ...      ...      ...      ...
2018-11-15  2161.71   279.40   744.15  1679.36
2018-11-16  2161.71   279.40   744.15  1679.36
2018-11-19  2147.30   277.31   740.35  1663.56
2018-11-20  2119.19   274.88   727.07  1638.37
2018-11-21  2109.97   274.88   702.13  1587.32
2018-11-22  2109.97   274.88   702.13  1587.32
2018-11-23  2109.97   274.88   702.13  1587.32
2018-11-26  2109.97   274.88   702.13  1587.32
2018-11-27  2109.97   274.88   702.13  1590.66
2018-11-28  2109.97   274.88   702.99  1594.19
2018-11-29  2133.95   277.08   709.69  1613.31
2018-11-30  2133.95   277.08   709.69  1613.31
2018-12-03  2133.95   277.08   709.69  1613.31
2018-12-04  2133.95   277.08   709.69  1613.31
2018-12-05  2133.95   277.08   709.69  1613.31
2018-12-06  2133.95   277.08   709.69  1613.31
2018-12-07  2133.95   277.08   709.69  1613.31
2018-12-10  2133.95   277.08   709.69  1613.31
2018-12-11  2133.95   277.08   709.69  1613.31
2018-12-12  2133.95   277.08   709.69  1613.31
2018-12-13  2133.95   277.08   709.69  1613.31
2018-12-14  2133.95   277.08   709.69  1613.31
2018-12-17  2133.95   277.08   709.69  1613.31
2018-12-18  2133.95   277.08   709.69  1613.31
2018-12-19  2133.95   277.08   709.69  1613.31
2018-12-20  2133.95   277.08   709.69  1613.31
2018-12-21  2133.95   277.08   709.69  1613.31
2018-12-24  2133.95   277.08   709.69  1613.31
2018-12-26  2133.95   277.08   709.69  1613.31
2018-12-27      NaN      NaN      NaN      NaN

[4690 rows x 4 columns], 'brk_price_signal':               코스피  코스피 200    코스닥  코스닥 대형주
D A T E
1999-12-28  False    False  False    False
2000-01-04  False    False  False    False
2000-01-05  False    False  False    False
2000-01-06  False    False  False    False
2000-01-07  False    False  False    False
2000-01-10  False    False  False    False
2000-01-11  False    False  False    False
2000-01-12  False    False  False    False
2000-01-13  False    False  False    False
2000-01-14  False    False  False    False
2000-01-17  False    False  False    False
2000-01-18  False    False  False    False
2000-01-19  False    False  False    False
2000-01-20  False    False  False    False
2000-01-21  False    False  False    False
2000-01-24  False    False  False    False
2000-01-25  False    False  False    False
2000-01-26  False    False  False    False
2000-01-27  False    False  False    False
2000-01-28  False    False  False    False
2000-01-31  False    False  False    False
2000-02-01  False    False  False    False
2000-02-02  False    False  False    False
2000-02-03  False    False  False    False
2000-02-07  False    False  False    False
2000-02-08  False    False  False    False
2000-02-09  False    False  False    False
2000-02-10  False    False  False    False
2000-02-11  False    False   True    False
2000-02-14  False    False  False    False
...           ...      ...    ...      ...
2018-11-15  False    False  False    False
2018-11-16  False    False  False    False
2018-11-19  False    False  False    False
2018-11-20  False    False  False    False
2018-11-21  False    False  False    False
2018-11-22  False    False  False    False
2018-11-23  False    False  False    False
2018-11-26  False    False  False    False
2018-11-27  False    False  False     True
2018-11-28  False    False  False    False
2018-11-29  False    False  False    False
2018-11-30  False    False  False    False
2018-12-03  False    False  False    False
2018-12-04  False    False  False    False
2018-12-05  False    False  False    False
2018-12-06  False    False  False    False
2018-12-07  False    False  False    False
2018-12-10  False    False  False    False
2018-12-11  False    False  False    False
2018-12-12  False    False  False    False
2018-12-13  False    False  False    False
2018-12-14  False    False  False    False
2018-12-17  False    False  False    False
2018-12-18  False    False  False    False
2018-12-19  False    False  False    False
2018-12-20  False    False  False    False
2018-12-21  False    False  False    False
2018-12-24  False    False  False    False
2018-12-26  False    False  False    False
2018-12-27  False    False  False    False

[4690 rows x 4 columns]}

Price Loading

In [5]:
Index_data = dtc.PriceDataCleanser(file='Index.xlsm')

## 조건

### 1. 이평선 120일 > 50일 > 10일
### 2. 장대양봉
### 3. 전날 이격 확대

In [6]:
## 이평선

SMV_120 = Index_data.SMPmovAvg(120)
SMV_50= Index_data.SMPmovAvg(50)
SMV_10= Index_data.SMPmovAvg(10)

SMV_Down = (SMV_120 > SMV_50) & (SMV_50 > SMV_10)

## 1. 이평선 하락 정배열

In [9]:
import pandas as pd

SMV_Down['코스피'].resample('A').sum().sort()

D A T E
1999-12-31      0.0
2000-12-31     99.0
2001-12-31     44.0
2002-12-31     87.0
2003-12-31     72.0
2004-12-31     50.0
2005-12-31      0.0
2006-12-31     26.0
2007-12-31      0.0
2008-12-31    154.0
2009-12-31     19.0
2010-12-31      0.0
2011-12-31     55.0
2012-12-31     53.0
2013-12-31     36.0
2014-12-31     54.0
2015-12-31     65.0
2016-12-31     40.0
2017-12-31      0.0
2018-12-31    145.0
Freq: A-DEC, Name: 코스피, dtype: float64

## 2. 장대양봉

### 조건

#### 가. 양봉이어야 할것
#### 나. 장대여야 할 것
         - 장대의 기준. 기존

In [11]:
## 양봉
red_candle = Index_data.candle()
## 장대양봉
candle_size = Index_data.candle_size()

In [13]:
red_candle['코스피'].resample('A').sum()

D A T E
1999-12-31    True
2000-12-31     114
2001-12-31     131
2002-12-31     122
2003-12-31     123
2004-12-31     137
2005-12-31     129
2006-12-31     123
2007-12-31     126
2008-12-31     114
2009-12-31     124
2010-12-31     132
2011-12-31     118
2012-12-31     128
2013-12-31     114
2014-12-31     111
2015-12-31     108
2016-12-31     117
2017-12-31     107
2018-12-31     118
Freq: A-DEC, Name: 코스피, dtype: object

## 장대양봉 구하는 공식
## 30일 거래일 중 z-score 1.96 이상

In [38]:
import scipy

zscore = lambda x: (x - scipy.stats.nanmean(x)) / scipy.stats.nanstd(x)


def zscore(data, windows=30):
    
    mean = data.rolling(windows).mean()
    std = data.rolling(windows).std()
    
    return (data - mean) / std


red_score = zscore(candle_size['코스피']).abs() > 1.69
red_score.resample('A').sum()

D A T E
1999-12-31     0.0
2000-12-31    16.0
2001-12-31    19.0
2002-12-31    21.0
2003-12-31    14.0
2004-12-31    19.0
2005-12-31    18.0
2006-12-31    20.0
2007-12-31    24.0
2008-12-31    25.0
2009-12-31    15.0
2010-12-31    19.0
2011-12-31    21.0
2012-12-31    15.0
2013-12-31    18.0
2014-12-31    20.0
2015-12-31    22.0
2016-12-31    16.0
2017-12-31    18.0
2018-12-31    22.0
Freq: A-DEC, Name: 코스피, dtype: float64

## 이격 확대

### 30일 거래일 중 z-score 1.96 이상

In [39]:
mva_divg = Index_data.MVA_divergence().head()

D A T E
2000-01-07     95.243495
2000-01-10     99.882032
2000-01-11    101.984450
2000-01-12     99.107804
2000-01-13     99.005241
2000-01-14     99.407796
2000-01-17    102.026692
2000-01-18    102.960433
2000-01-19    100.913869
2000-01-20     98.582390
2000-01-21     97.237698
2000-01-24     98.213491
2000-01-25     98.223141
2000-01-26     97.969436
2000-01-27    100.181361
2000-01-28    103.379567
2000-01-31    103.234359
2000-02-01    103.647807
2000-02-02    101.089108
2000-02-03    100.917353
2000-02-07    102.660157
2000-02-08    102.700072
2000-02-09    101.582778
2000-02-10    100.103588
2000-02-11    102.500104
2000-02-14     97.842913
2000-02-15     97.832489
2000-02-16     95.983850
2000-02-17     99.265397
2000-02-18    101.277793
                 ...
2018-11-14     99.601960
2018-11-15    100.446706
2018-11-16    100.860754
2018-11-19    100.791724
2018-11-20     99.820259
2018-11-21     99.450199
2018-11-22     99.741030
2018-11-23     99.799559
2018-11-26    100.438976
2018-11-27    101.065622
2018-11-28    101.180735
2018-11-29    101.983418
2018-11-30    100.785879
2018-12-03    101.034261
2018-12-04    100.595241
2018-12-05     99.507508
2018-12-06     99.619143
2018-12-07     99.202824
2018-12-10     98.608110
2018-12-11     99.403817
2018-12-12    100.765160
2018-12-13    101.130336
2018-12-14    101.196995
2018-12-17     99.850456
2018-12-18     99.324227
2018-12-19    100.166041
2018-12-20     99.777209
2018-12-21     99.746459
2018-12-24     99.587887
2018-12-26     98.644232
Name: 코스피, Length: 4685, dtype: float64

In [41]:
mvg_div_t = zscore(mva_divg['코스피']).abs() > 1.69

In [43]:
mvg_div_t.resample('A').sum()

D A T E
2000-12-31    23.0
2001-12-31    25.0
2002-12-31    26.0
2003-12-31    21.0
2004-12-31    22.0
2005-12-31    25.0
2006-12-31    29.0
2007-12-31    27.0
2008-12-31    31.0
2009-12-31    14.0
2010-12-31    23.0
2011-12-31    28.0
2012-12-31    17.0
2013-12-31    27.0
2014-12-31    26.0
2015-12-31    23.0
2016-12-31    17.0
2017-12-31    25.0
2018-12-31    26.0
Freq: A-DEC, Name: 코스피, dtype: float64

In [54]:
## 전날 이격확대
# & red_score & red_candle & SMV_Down
tr = mvg_div_t.shift(1) & red_score & red_candle['코스피'] & SMV_Down['코스피']

In [57]:
tr.resample('A').sum()

D A T E
1999-12-31    0.0
2000-12-31    0.0
2001-12-31    0.0
2002-12-31    1.0
2003-12-31    0.0
2004-12-31    0.0
2005-12-31    0.0
2006-12-31    0.0
2007-12-31    0.0
2008-12-31    3.0
2009-12-31    0.0
2010-12-31    0.0
2011-12-31    0.0
2012-12-31    1.0
2013-12-31    0.0
2014-12-31    0.0
2015-12-31    0.0
2016-12-31    0.0
2017-12-31    0.0
2018-12-31    0.0
Freq: A-DEC, Name: 코스피, dtype: float64

In [73]:
bt_rt = tr[tr == True].index
tr[tr == True]

D A T E
2002-07-23    True
2008-09-10    True
2008-09-23    True
2008-10-28    True
2012-07-31    True
Name: 코스피, dtype: bool

## 수익률 (Daily Return)

In [64]:
daily_rt = Index_data.daily_price_rt()

In [81]:
for date in bt_rt:
    rt = (daily_rt['코스피'].shift(-1).loc[date:].head(10)).prod() - 1
    print(f"{date.year}년: {round(rt*100, 2)}")

2002년: -9.38
2008년: 2.5
2008년: -13.14
2008년: 12.97
2012년: 3.98