In [42]:
import pandas as pd
import re

KOSDQ / KSE Data 추출

In [53]:
KDQ = pd.read_csv('Data/Delisted/KDQ.csv')
KSE = pd.read_csv('Data/Delisted/KDQ.csv')

In [25]:
KDQ.head()

      Code    Name   결산월       상장폐지일           상장폐지사유
0  A000250   삼천당제약  12.0         NaN              NaN
1  A000380    대아건설  12.0  20041021.0  피흡수합병(20040922)
2  A000440  중앙에너비스  12.0         NaN              NaN
3  A000530    대한제지  12.0  19970710.0              NaN
4  A000550    삼덕제지  12.0  19970710.0              NaN

In [26]:
KSE.head()

      Code    Name   결산월       상장폐지일           상장폐지사유
0  A000250   삼천당제약  12.0         NaN              NaN
1  A000380    대아건설  12.0  20041021.0  피흡수합병(20040922)
2  A000440  중앙에너비스  12.0         NaN              NaN
3  A000530    대한제지  12.0  19970710.0              NaN
4  A000550    삼덕제지  12.0  19970710.0              NaN

## 해당 과제

1. 결산월 / 상장폐지일
   형식을 각각 Int와 Date로 바꿀 것
   
2. 상장폐지사유
   합병 등 거래소 변경 / 레알 상장폐지로 구분
   Dictionary {"특수": 종목, "레알": 종목}
   
   구분할 것

In [54]:
import numpy as np

KDQ['결산월'] = KDQ['결산월'].replace(np.NaN, None).astype(int,errors='ignore')

In [33]:
KDQ[KDQ['상장폐지일'] == 20041021.0]['상장폐지일'].astype(int).astype(str)

1      20041021
579    20041021
Name: 상장폐지일, dtype: object

In [55]:
change_dt_time = lambda x: np.NaN if x == np.NaN else pd.to_datetime(str(x))

KDQ['상장폐지일'].apply(change_dt_time)

ValueError: cannot convert float NaN to integer